body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
}

.logo {
    height: 40px;
    width: 200px;
    margin: 50px 30px;
    padding: 0;
}

.presentation {
    margin: 25px 50px;
    display: flex;
    justify-content: center;
}

.preview {
    background-color: transparent;
    flex: 1;
    padding-right: 25px;;
}

.introduction {
    color: white;
    background-color: transparent;
    flex: 1;
    padding-left: 25px;
}

.introduction h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.introduction p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.register {
    height: 57px;
    width: 200px;
    border-radius: 50px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: hsl(257, 40%, 49%);
    font-size: 18px;
    margin-top: 14px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(53, 51, 51);
}

.social {
    filter: invert(100%);
    display: flex;
    justify-content: flex-end;
    margin-right: 75px;
}
.logo-facebook {
    width: 35px;
    height: 35px;
    padding-right: 20px;
}

.logo-twitter {
    width: 35px;
    height: 35px;
    padding-right: 20px;
}

.logo-instagram {
    width: 35px;
    height: 35px;
}

.attribution {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 10px;
    text-align: right;
    padding-top: 10px;
    padding-right: 75px;
}

.attribution a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1225px) {
    body {
        background-image: url(./images/bg-mobile.svg);
    }

    .logo {
        height: 30px;
        width: 150px;
        margin: 25px 5px;
    }

    .presentation {
        flex-direction: column;
        margin: 35px 25px;
    }
    .mockup {
        width: 100%;
    }
    .preview {
        padding: 0;
        margin-bottom: 35px;
    }
    .introduction {
        text-align: center;
        padding: 0;
    }

    .introduction h1 {
        font-size: 24px;
    }

    .introduction p {
        font-size: 17px;
    }

    .register {
        height: 40px;
        font-size: 12px;
    }

    .social {
        margin-top: 60px;
        justify-content: center;
        margin-right: 0;
    }
    
    .social > img {
        height: 25px;
        width: 25px;
    }

    .attribution {
        text-align: center;
        padding-right: 0;
    }
    
}